<p-panel [showHeader]="false" class="pt-2">
  <h1>Pipes personalizados</h1>
  <p>
    Pipes personalizados en Angular - creados por
    {{ "nosotros" | toggleCase : isUpperCase }}
  </p>
</p-panel>

<p-toolbar>
  <div class="p-toolbar-group-start">
    <button
      pButton
      label="ToogleCase"
      icon="pi pi-search"
      class="mr-2"
      (click)="toggleUpperCase()"
    ></button>
    <button
      pButton
      label="Por nombre"
      icon="pi pi-sort"
      class="mr-2"
      (click)="changeOrder('name')"
    ></button>
    <button
      pButton
      label="Por volar"
      icon="pi pi-sort"
      class="mr-2"
      (click)="changeOrder('canFlay')"
    ></button>
    <button
      pButton
      label="Por color"
      icon="pi pi-sort"
      class="mr-2"
      (click)="changeOrder('color')"
    ></button>
  </div>
</p-toolbar>

<div class="grid">
  <div class="col mt-2">
    <p-panel header="Heroes">
      <p-table
        [value]="heroes | sortBy : orderBy"
        [tableStyle]="{ 'min-width': '50rem' }"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>Vuela</th>
            <th>Color</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.canFlay | canFly : product.canFlay }}</td>
            <td>{{ product.color }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
  </div>
</div>
