<p-panel [showHeader]="false" class="pt-2">
  <h1>Pipes Basicos</h1>
  <p>Pipes incluidos en Angular - usualmente en el Common Module</p>
</p-panel>

<div class="grid mt-2">
  <div class="col-12 md:col-4">
    <p-card header="uppercase">
      {{ nameLower | uppercase }}
    </p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="lowercase">
      {{ nameUpper | lowercase }}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="titlecase">
      {{ fullName | titlecase }}
    </p-card>
  </div>

  <div class="col-12 md:col-6">
    <p-card header="Date">
      <ul>
        <li>fecha</li>
        <li>fecha | date</li>
        <li>fecha | date:'short'</li>
        <li>fecha | date:'long'</li>
        <li>fecha | date:'MMMM'</li>
        <li>fecha | date:'MMMM dd, yyyy'</li>
        <li>fecha | date:'long':'GMT-6'</li>
        <li>fecha | date:'long':'GMT-4'</li>
        <li>fecha | date:'long':'':'es-CO'</li><!--cambiar idioma-->
        <li>fecha | date:'long':'':'fr-CA'</li><!--cambiar idioma-->
      </ul>
    </p-card>
  </div>
  <div class="col-12 md:col-6">
    <p-card header="Date">
      <ul>
        <li>{{customDate}}</li>
        <li>{{customDate | date}}</li>
        <li>{{customDate| date:'short'}}</li>
        <li>{{customDate| date:'long'}}</li>
        <li>{{customDate| date:'MMMM'}}</li>
        <li>{{customDate| date:'MMMM dd, yyy'}}</li>
        <li>{{customDate| date:'long':'GMT-6'}}</li>
        <li>{{customDate| date:'long':'GMT-4'}}</li>
        <li>{{customDate| date:'long':'':'es-CO'}}</li>
        <li>{{customDate| date:'long':'':'fr-CA'}}</li>
      </ul>
    </p-card>
  </div>
</div>
