<p-panel [showHeader]="false" class="pt-2">
  <h1>Pipes Basicos Numericos</h1>
  <p>Pipes incluidos en Angular - usualmente en el Common Module</p>
</p-panel>

<div class="grid mt-2">
  <div class="col-12 md:col-4">
    <p-card header="Ventas Netas">
      {{ totalSells + 1235 | number : "1.2-2" }}
    </p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="Ventas Brutas">
      {{ totalSells | currency: 'EUR': 'symbol-narrow': '1.4-4'  }}
    </p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="Ganancia Porcentual">
      {{ percent | percent: '1.2-2' }}
    </p-card>
  </div>
</div>
